@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden !important;
  }
}

body {
  position: relative;
  overflow-x: hidden !important;
}

.hero-section {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

.hero-section::before {
  content: "";
  width: 344.63px;
  height: 344.63px;
  display: block;
  top: -150px;
  left: -50px;
  position: absolute;
  z-index: -1;
  background-image: url(../public/framer-1.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.hero {
  /* height: 100%; */
  overflow: hidden;
  position: relative;
}

.hero::before {
  content: "";
  width: 198.2px;
  height: 198.2px;
  top: 150px;
  left: 35%;
  display: block;
  position: absolute;
  z-index: -1;
  background: url(../public/framer-3.png) no-repeat;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.features {
  /* overflow: hidden; */
  position: relative;
}

.features::before {
  content: "";
  width: 778.32px;
  height: 344.63px;
  display: block;
  top: 150px;
  left: -50px;
  position: absolute;
  background-image: url(../public/framer-2.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

/* .hero-section::before {
  content: "";
  width: 778.32px;
  height: 344.63px;
  display: block;
  top: 150px;
  left: -50px;
  position: absolute;
  background-image: url(../public/framer-2.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
} */
